easydict
h5py
imageio
lerobot==0.3.3
num2words
numpy==1.26.4
nvidia-ml-py
opencv-python-headless<4.12
pylibmc
pytest
PyYAML
pyzmq
scipy
tensorboard
timm
torch
torchvision
tqdm
transformers==5.2.0
wandb
